<body>
  {{#each infos}}
    <div class="movie">
      <div class="poster">
        <img class="poster-image" src="{{this.Poster}}">
        <a href="http://www.imdb.com/title/{{this.imdbID}}">
          <div class="poster-overlay">
            <span class="alignment-helper"></span>
            <img class="logo" src="http://upload.wikimedia.org/wikipedia/commons/3/35/IMDb_logo.svg">
          </div>
        </a>
      </div>
      <div class="text-container">
        <span class="title" title="{{this.filename}}">{{this.Title}}</span>
        <span class="year">{{this.Year}}</span>
        <p class="plot">{{this.Plot}}</p>
      </div>
    </div>
  {{/each}}
</body>
